# Introduction to scikit learn

This notebook demonstrate some of the most useful functions of the sckit-learn library

What would be corvered:
0. An end-to-end scikit workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions to our data
4. Evaluating a model
5. Improve our model
6. Save and load a trained model
7. Putting it all together!

In [12]:
import numpy as np

# 0. An end to end scikit learn workflow

In [1]:
# Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create x (feature matrix)
x = heart_disease.drop("target", axis=1)

# Create y (labels)
y=heart_disease["target"]

In [9]:
# Choose the right model and hyper parameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll keep The default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
# 3. fit the model to the data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [11]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [13]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2

In [16]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2

In [ ]:
# make a prediction 
y_label = clf.predict(np.array([0, 2, 3, 4]))

In [19]:
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0], dtype=int64)

In [20]:
y_test

64     1
178    0
225    0
279    0
0      1
      ..
228    0
36     1
203    0
172    0
244    0
Name: target, Length: 61, dtype: int64

In [21]:
# Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [22]:
clf.score(x_test, y_test)

0.8032786885245902

In [23]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.92      0.70      0.79        33
           1       0.72      0.93      0.81        28

    accuracy                           0.80        61
   macro avg       0.82      0.81      0.80        61
weighted avg       0.83      0.80      0.80        61

In [24]:
confusion_matrix(y_test, y_preds)

array([[23, 10],
       [ 2, 26]], dtype=int64)

In [ ]:
accuracy_score