In [1]:
import pandas as pd

In [3]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [4]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
# series = 1-Dementional

In [7]:
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

In [9]:
# DataFrame = 2-demention
car_data=pd.DataFrame({"Car make": series, "Color":colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [ ]:
# import data
car_sales=pd.read_csv("car-sales.csv")