# Introduction to Scikit-learn (sklearn)

This notebook demostrates some of the most useful function of the beautiful scikit learn library.

What we're going to cover:

0. An end to end scikit-learn workflow
1. Getting the data ready.
2. Choose the right estimator/Algorithim for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model 
5. Improve a model
6. save and load a trained model
7. Putting it all together.

In [17]:
# Let's Listify the content
what_we_re_covering = [
    '0. An end to end scikit-learn workflow',
    '1. Getting the data ready',
    '2. Choose the right estimator/algorithm for our problems',
    '3. Fit the model/algorithm and use it to make predictions on our data',
    '4. Evaluate a model',
    '5. Improve a model',
    '6. save and load a trained model',
    '7. Putting it all together'
]

In [18]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 0. an end to end scikit-learn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3       0
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3       0
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3       0
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3       0
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [2]:
# create x (features matrix)
x = heart_disease.drop('target', axis=1)

# Create the label y
y = heart_disease["target"]

In [3]:
# 2. Chooose the right model and hyperparameter
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# we'll keep the default hyper parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
# 3. fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [5]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [6]:
x_train

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
119   46    0   0       138   243    0        0      152      1      0.0      1   0     2
108   50    0   1       120   244    0        1      162      0      1.1      2   0     2
167   62    0   0       140   268    0        0      160      0      3.6      0   2     2
44    39    1   2       140   321    0        0      182      0      0.0      2   0     2
65    35    0   0       138   183    0        1      182      0      1.4      2   0     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
109   50    0   0       110   254    0        0      159      0      0.0      2   0     2
66    51    1   2       100   222    0        1      143      1      1.2      1   0     2
38    65    0   2       155   269    0        1      148      0      0.8      2   0     2
111   57    1   2       150   126    1        1      173      0      0.2      2   1     3
114   55    1   1       130   262    0        1      155      0      0.0      2   0     2

[242 rows x 13 columns]

In [7]:
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

In [8]:
y_test

19     1
234    0
12     1
82     1
144    1
      ..
96     1
139    1
53     1
6      1
213    0
Name: target, Length: 61, dtype: int64

In [9]:
# Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [10]:
clf.score(x_test, y_test)

0.8524590163934426

In [11]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.71      1.00      0.83        22
           1       1.00      0.77      0.87        39

    accuracy                           0.85        61
   macro avg       0.85      0.88      0.85        61
weighted avg       0.90      0.85      0.86        61

In [12]:
confusion_matrix(y_test, y_preds)

array([[22,  0],
       [ 9, 30]], dtype=int64)

In [13]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [14]:
import numpy as np

# 5. improve the model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 78.69%

Trying model with 20 estimators...
Model accuracy on test set: 78.69%

Trying model with 30 estimators...
Model accuracy on test set: 86.89%

Trying model with 40 estimators...
Model accuracy on test set: 88.52%

Trying model with 50 estimators...
Model accuracy on test set: 77.05%

Trying model with 60 estimators...
Model accuracy on test set: 81.97%

Trying model with 70 estimators...
Model accuracy on test set: 86.89%

Trying model with 80 estimators...
Model accuracy on test set: 81.97%

Trying model with 90 estimators...
Model accuracy on test set: 83.61%

In [15]:
# save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [16]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8360655737704918

# 1. Getting our data ready to be used with machine learning
Three main things we have to do
   1. Split the data into features and labels (usually `x` and  `y`)
   2. Filling also called imputing or disregarding missing values 
   3. Converting non-numerical values to numerical values (also called feature encoding).

In [19]:
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1   37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2   41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3   56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4   57    0   0       120   354    0        1      163      1      0.6      2   0     2       1

In [20]:
x = heart_disease.drop("target", axis=1)
x

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2

[303 rows x 13 columns]

In [21]:
y= heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [ ]:
# split the data into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)